<div class="w-75 mx-auto">
  <p class="fs-1">Yangi mahsulot qo`shish</p>
  {{#if addError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error! </strong>{{addError}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {{/if}}
  <form action="/add" method="post" enctype="multipart/form-data">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="title" name="title" />
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        placeholder="Description"
        id="floatingTextarea2"
        name="description"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">Description</label>
    </div>

    <div class="input-group mb-3">
      <label for="category" class="text fs-5 mr-2 mt-1">Kategoriya 1</label>
      <select
        id="category"
        class="form-select"
        aria-label="Default select example"
        style="margin-left: 10px;"
        name="category"
        onchange="updateSecondarySelect()"
      >
        <option value="other">Boshqa</option>
        <option value="hmi">INOVANCE HMI</option>
        <option value="plc">INOVANCE PLC</option>
        <option value="inverter">INOVANCE INVERTER</option>
        <option value="servo">INOVANCE SERVO</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <label for="subCategory" class="text fs-5 mr-2 mt-1">Kategoriya 2</label>
      <select
        id="subCategory"
        class="form-select"
        aria-label="Default select example"
        style="margin-left: 10px;"
        name="subCategory"
      >
        <!-- Secondary select options will be dynamically added here -->
      </select>
    </div>

    <!-- Use triple curly braces to output raw HTML -->
    {{!-- {{{rawJS}}} --}}

    <!-- Separate script tag for JavaScript -->

    <script>
      function updateSecondarySelect() { var selectedCategory =
      document.getElementById("category").value; var subCategorySelect =
      document.getElementById("subCategory"); subCategorySelect.innerHTML = ""; if (selectedCategory
      === "hmi") { subCategorySelect.add(new Option("7dyum", "7dyum")); subCategorySelect.add(new
      Option("10dyum", "10dyum")); subCategorySelect.add(new Option("15dyum", "15dyum")); } else if
      (selectedCategory === "plc") { subCategorySelect.add(new Option("h1u", "h1u"));
      subCategorySelect.add(new Option("h3u", "h3u")); subCategorySelect.add(new Option("h5u",
      "h5u")); } else if (selectedCategory === "inverter") { subCategorySelect.add(new
      Option("md200", "md200")); subCategorySelect.add(new Option("md290", "md290"));
      subCategorySelect.add(new Option("md310", "md310")); subCategorySelect.add(new Option("md500",
      "md500")); subCategorySelect.add(new Option("cs710", "cs710")); } else if (selectedCategory
      === "servo") { subCategorySelect.add(new Option("sv660n", "sv660n"));
      subCategorySelect.add(new Option("sv660p", "sv660p")); subCategorySelect.add(new
      Option("ms1h1", "ms1h1")); subCategorySelect.add(new Option("ms1h2", "ms1h2"));
      subCategorySelect.add(new Option("ms1h3", "ms1h3")); } }
    </script>

    <div class="input-group mb-3">
      <div class="label-container">
        <label class="text fs-5 mr-2 mt-1">Image</label>
      </div>
      <div class="input-container">
        <input type="file" name="image" />
      </div>
      <div class="image error"></div>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          name="price"
          id="floatingInputGroup1"
          placeholder="Price"
        />
        <label for="floatingInputGroup1">Price</label>
      </div>
    </div>
    <button class="btn btn-primary mt-3">Qo`shish</button>
  </form>
</div>