<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <a href="/hmi7">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/7%20dyum.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">7 dyum</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/hmi10">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/10%20dyum.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">10 dyum</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/hmi15">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/15%20dyum.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">15 dyum</p>
        </div>
      </div>
    </a>
  </div>
</div>