<div class="d-grid gap-2 col-6 mx-auto mb-2">
  <a href="/add" class="btn btn-primary" type="button">Yangi mahsulot qo'shish</a>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 g-2">
    <div class="col">
      <a href="/hmi">
        <div class="card shadow-sm">
          <img src="https://gelectronics.uz/img/product/hmi.jpg" />
          <div class="card-body text-center">
            <p class="card-text">INOVANCE HMI</p>
          </div>
        </div></a>
    </div>

    <div class="col">
      <a href="/plc">
        <div class="card shadow-sm">
          <img src="https://gelectronics.uz/img/product/plc.jpg" />
          <div class="card-body text-center">
            <p class="card-text">INOVANCE PLC</p>
          </div>
        </div></a>
    </div>
    <div class="col">
      <a href="/inverter">
        <div class="card shadow-sm">
          <img src="https://gelectronics.uz/img/product/invertor.jpg" />
          <div class="card-body text-center">
            <p class="card-text">INOVANCE</p>
            <p class="card-text">INVERTER</p>
          </div>
        </div></a>
    </div>

    <div class="col">
      <a href="/servo">
        <div class="card shadow-sm">
          <img src="https://gelectronics.uz/img/product/servo.jpg" />
          <div class="card-body text-center">
            <p class="card-text">INOVANCE</p>
            <p class="card-text">SERVO</p>
          </div>
        </div></a>
    </div>
  </div>
</div>