<div class="row row-cols-1 row-cols-2 row-cols-3 g-4">
  <div class="col">
    <a href="/inv1">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/MD200.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">MD200</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/inv2">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/MD290.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">MD290</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/inv3">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/MD310.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">MD310</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/inv4">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/MD500.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">MD500</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/inv5">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/CS710.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">CS710</p>
        </div>
      </div>
    </a>
  </div>
</div>