<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <a href="/h1u">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/H1U.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">H1U</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/h3u">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/H3U.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">H3U</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/h5u">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/H5U.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">H5U</p>
        </div>
      </div>
    </a>
  </div>
</div>