<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <a href="/servo1">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/SV660N.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">SV660N</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/servo2">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/SV660P.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">SV660P</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/servo3">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/MS1H1.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">MS1H1</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/servo4">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/MS1H2.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">MS1H2</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/servo5">
      <div class="card shadow-sm">
        <img src="https://gelectronics.uz/sklad/kategoriya2/MS1H3.jpg" alt="ctg2" />
        <div class="card-body text-center">
          <p class="card-text">MS1H3</p>
        </div>
      </div>
    </a>
  </div>
</div>